.form {
    grid-column: 1;
    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        &-film,&-name {
            padding-left: 10px;
            margin: 20px; 
            margin-top: 0; 
        }    
        &-submit,&-film,&-name {
            background-color: #363333;
            width: 310px;
            font-size: 20px;
            border-radius: 5px;
            border: 2px solid #000;
            transition: 0.3s all;
            &:hover {
                border-color: #fff;
            }
        }
        &-submit {
            margin-top: 40px;
        }
    }
}